<a href="https://colab.research.google.com/github/urazalinuraliev/My-Ds-Babel-project/blob/main/My_Ds_Babel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sqlite3 as sql 
import csv

In [ ]:
def sql_to_csv(database, table_name):
    connection = sql.connect(database)
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM " + table_name)
    result = cursor.fetchall()
    sql_data = [i[0].title().replace("_", " ") for i in cursor.description]
    s = []
    s.append(','.join(sql_data))
    for res in result:
        s.append(','.join([str(i) for i in res]))
    res_data = "\n".join(s)
    return res_data

In [ ]:
def csv_to_sql(csv_content, database, table_name):
    csv_df = pd.read_csv(csv_content)
    connection = sql.connect(database)
    csv_df.to_sql(table_name, con=connection, if_exists='replace', index=False)

In [ ]:
print(sql_to_csv('sample_data/all_fault_line.db','fault_lines'))
csv_content = open("sample_data/list_volcano.csv")
csv_to_sql(csv_content, 'list_volcanos.db','volcanos')

In [ ]:
import pandas as pd
import sqlite3 as sql 
import csv


def sql_to_csv(database, table_name):
    connection = sql.connect(database)
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM " + table_name)
    result = cursor.fetchall()
    sql_data = [i[0].title().replace("_", " ") for i in cursor.description]
    s = []
    s.append(','.join(sql_data))
    for res in result:
        s.append(','.join([str(i) for i in res]))
    res_data = "\n".join(s)
    return res_data


def csv_to_sql(csv_content, database, table_name):
    csv_df = pd.read_csv(csv_content)
    connection = sql.connect(database)
    csv_df.to_sql(table_name, con=connection, if_exists='replace', index=False)


print(sql_to_csv('all_fault_line.db','fault_lines'))
csv_content = open("list_volcano.csv")
csv_to_sql(csv_content, 'list_volcanos.db','volcanos')